In [1]:
import os
import pandas as pd

os.chdir(r"C:\Users\Gilseung\Google 드라이브\작업\온라인 강의 머신러닝 성능 향상을 위한 데이터 탐색과 전처리 심화\데이터\실습 데이터 - #1")

In [2]:
df = pd.read_csv("온라인_판매기록.csv", engine = "python")

In [3]:
df.head()

  쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0  쿠팡  제품_16   8  1134400     쿠팡
1  쿠팡  제품_57   8   439200     쿠팡
2  쿠팡  제품_25   4   495200     쿠팡
3  쿠팡  제품_18   4   578000     쿠팡
4  쿠팡  제품_90   2    75000     쿠팡

In [4]:
df['제품'] == '제품_16'

0        True
1       False
2       False
3       False
4       False
        ...
5810    False
5811    False
5812    False
5813    False
5814    False
Name: 제품, Length: 5815, dtype: bool

In [5]:
df.loc[df['제품'] == '제품_16'].head()

         쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
0         쿠팡  제품_16   8  1134400     쿠팡
35        쿠팡  제품_16   7   992600     쿠팡
479  스누피동물병원  제품_16   9  1276200   동물병원
705     딩동이네  제품_16   8  1134400  유통대리점
708     딩동이네  제품_16   5   709000  유통대리점

In [6]:
df['쇼핑몰 유형'].unique()

array(['쿠팡', '온라인II', '온라인사이트', '동물병원', '할인점II', '유통대리점', '전시회', '할인점'],
      dtype=object)

In [7]:
df.loc[df['쇼핑몰 유형'].isin(['온라인Il', '온라인사이트'])]

           쇼핑몰     제품  수량     판매금액  쇼핑몰 유형
108   주식회사 펫츠비  제품_39   1    10400  온라인사이트
109   주식회사 펫츠비  제품_06   7   631400  온라인사이트
110   주식회사 펫츠비  제품_30   4   516400  온라인사이트
111   주식회사 펫츠비  제품_56  10   318000  온라인사이트
112   주식회사 펫츠비  제품_90   8   300000  온라인사이트
...        ...    ...  ..      ...     ...
5604    강아지대통령  제품_88   5   569500  온라인사이트
5605    강아지대통령  제품_01  10   732000  온라인사이트
5606    강아지대통령  제품_76   5   762500  온라인사이트
5607    강아지대통령  제품_68   6   171000  온라인사이트
5608    강아지대통령  제품_86   8  1110400  온라인사이트

[1030 rows x 5 columns]

In [8]:
df.loc[(df['수량'] >= 5) & (df['쇼핑몰 유형'] == '전시회')]

        쇼핑몰     제품  수량     판매금액 쇼핑몰 유형
918    KPET  제품_71   5   143500    전시회
919    KPET  제품_26   6   478200    전시회
920    KPET  제품_49   8   358400    전시회
921    KPET  제품_33   7  1073100    전시회
923    KPET  제품_45   6    88200    전시회
...     ...    ...  ..      ...    ...
1345  Kopet  제품_92   7   453600    전시회
1346  Kopet  제품_51  10   277000    전시회
1347  Kopet  제품_91   7   192500    전시회
1348  Kopet  제품_13   8   468800    전시회
1349  Kopet  제품_96   5   393000    전시회

[183 rows x 5 columns]